<app-header-component></app-header-component>
<div class=" p-6 mb-6 text-center">
  <h2 class="text-4xl font-bold text-blue-700 mb-7">💼 Explore Jobs in Norway</h2>
  <p class="text-gray-100 text-lg">
    Our app connects directly to NAV’s Job Database, giving you access to thousands of vacancies updated in real-time. 
    Search by company, business, or municipality and find your next career move.
  </p>
</div>
<div class="p-6">
  @if(jobs()?.length===0) {
    <p>No jobs found</p>
  }
  <div class="grid grid-cols-1 gap-4 sm2: md:grid-cols-2  lg:grid-cols-3 xl2:grid-cols-4 ">
  @for(job of jobs(); track job.url) {
    <app-job-card-component [job]='job'></app-job-card-component>
    }
  </div>
  <div class="flex flex-row justify-center mx-auto gap-3 mt-[30px]">
    <button [disabled]="!next_url()" class="bg-blue-500 text-white p-3 rounded-lg" (click)="onNextPage()">Next Page</button>
  </div>
</div>
<app-footer-component></app-footer-component>